recursive-include qcenginerecords *.dat
recursive-include qcenginerecords *.json
recursive-include qcenginerecords *.out
recursive-include qcenginerecords *.py
recursive-include qcenginerecords *.xml
recursive-include qcenginerecords *.yaml

include setup.py
include README.md
include LICENSE
include MANIFEST.in

include versioneer.py
include qcenginerecords/_version.py
